body {
    margin: 0;
    text-align: center;
    font-family: 'Langar', cursive;
    color: #40514E;

}
p{
    line-height: 2;
}
a {
    color: cadetblue;
    text-decoration: none;
}
a:hover{
    color: rgb(17, 0, 255);
}
hr {
    border: dotted #0a6dee 6px;
    border-bottom: none;
    width: 5%;
    margin: 100px auto;
}
h1 {
    margin: 50px auto 0 auto;
   font-family: 'Sacramento', cursive;
   font-size: 80px;
   color: #66BFBF;
}
h2{
    font-family: 'Acme', sans-serif;
    font-size: 2.5rem;
    color: #66BFBF;
}
h3,h4{
    font-family: 'Acme', sans-serif;
    color: #11999E;
}
.sub{
    font-weight: normal;
}
.top-container {
    background-color: #EAF6F6;
    position: relative;
    padding-top: 100px;
    
}

.middle-container{
    margin: 100px 0;
}
.bottom-container{
    margin: 100px 0;
    background-color: aquamarine;
    padding:60px 0 20px 0;
}
.top-cloud{
    position: absolute;
    right: 300px;
    padding-top: 30px;
}
.botm-cloud{
    position: absolute;
}
.profice_pic{
    width: 20%;
    
}
.skill_img{
    width: 20%;
}
.bio{
    width: 30%;
    margin: auto;
    
}


.btn {
    background: #3DDCF6;
    background-image: -webkit-linear-gradient(top, #3DDCF6, #1E85D0);
    background-image: -moz-linear-gradient(top, #3DDCF6, #1E85D0);
    background-image: -ms-linear-gradient(top, #3DDCF6, #1E85D0);
    background-image: -o-linear-gradient(top, #3DDCF6, #1E85D0);
    background-image: -webkit-gradient(to bottom, #3DDCF6, #1E85D0);
    -webkit-border-radius: 87px;
    -moz-border-radius: 87px;
    border-radius: 87px;
    color: #FFFFFF;
    font-family: 'Langar', cursive;
    font-size: 20px;
    font-weight: 50;
    padding: 5px;
    -webkit-box-shadow: 1px 1px 20px 0 #000000;
    -moz-box-shadow: 1px 1px 20px 0 #000000;
    box-shadow: 1px 1px 20px 0 #000000;
    text-shadow: 1px 1px 20px #000000;
    border: solid #FFFFFF 0;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    text-align: center;
 }
 
 .btn:hover {
    border: solid #FFAE00 1px;
    background: #1ED096;
    background-image: -webkit-linear-gradient(top, #1ED096, #F6EA3D);
    background-image: -moz-linear-gradient(top, #1ED096, #F6EA3D);
    background-image: -ms-linear-gradient(top, #1ED096, #F6EA3D);
    background-image: -o-linear-gradient(top, #1ED096, #F6EA3D);
    background-image: -webkit-gradient(to bottom, #1ED096, #F6EA3D);
    -webkit-border-radius: 60px;
    -moz-border-radius: 60px;
    border-radius: 60px;
    text-decoration: none;
 }

 .copyright{
     color: white;
     padding:50px 0 0;
 }